<script type="text/javascript">
function runProfile()
{
    var url = '<?php echo $this->getUrl('*/*/run', array('id'=>$this->getProfileId())) ?>';
    document.location = url;
}

function getDirection()
{
    return $('profile_direction').options[$('profile_direction').options.selectedIndex].value;
}

function getSelectedFiles()
{
    return $('files').options[$('files').options.selectedIndex].value;
}

function getTransferType()
{
    return $('profile_data_transfer').options[$('profile_data_transfer').options.selectedIndex].value;
}
</script>

<ul class="messages">
<li class="notice-msg">
    <ul>
        <li><?php echo $this->__('Please make sure that your changes were saved before running the profile.') ?></li>
    </ul>
</li>
</ul>

<?php echo $this->getRunButtonHtml() ?><br/>
