<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div id="image_contain_right_quote"><img src="<?php echo $this->getSkinUrl('images/custom_quote.jpg') ?>" alt="Custom Quote" /></div>
<div class="page-head">
    <h3><?php echo Mage::helper('quotes')->__('CUSTOM QUOTE FORM') ?></h3>
    <p>Our goal at TechPayout is to pay you the highest value for your cell phones, tablets, iPods, and more. If you cannot find the item you’d like to sell on our website, it doesn’t mean we don’t want it! Simply fill out the form below and our customer service team will get back to you with an offer.</p>
 	<p>We are always interested in buying headphones, laptops, gaming consoles, cameras and much more! If you want to sell your old electronics online, the chances are we will mostly buy them.</p>
 
	<p>Please fill out your name, email address, and description of the products you would like to sell. The more information you can provide the better. Including quantity, condition, model numbers, and working condition will help our team be able to send you a fast quote. We look forward to paying you cash for you electronics.</p>
</div>
<!-- TSD add script for custom recaptcha look -->
    <script type="text/javascript">
          var RecaptchaOptions = {
              tabindex: 1,
              theme: 'clean',
          };
        </script>
<!-- END TSD add script for custom recaptcha look -->

<form action="<?php echo $this->getFormAction(); ?>" id="quoteForm" method="post">
	<div class="fieldset_quote">
    <fieldset class="group-select">
        <!-- VD <h4 class="legend"><?php /*echo Mage::helper('quotes')->__('Contact Information') */?></h4>-->
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="name" class="required"><em>*</em><?php echo Mage::helper('quotes')->__('Name') ?></label><br />
                    <input name="name" id="name" title="<?php echo $this->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="required-entry input-text" type="text" />
                </div>

<div class="clear"></div>

                <div class="field">
                    <label for="email" class="required"><em>*</em><?php echo Mage::helper('quotes')->__('Email') ?></label><br />
                    <input name="email" id="email" title="<?php echo $this->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="required-entry input-text validate-email" type="text" />
                </div>
            </li>
              
<li>
                <div class="field">
                    <label for="Basic description of item you want quoted"><?php echo Mage::helper('quotes')->__('Basic description of item you want quoted') ?></label><br />
                    <input name="telephone" id="telephone" title="<?php echo $this->__('Telephone') ?>" value="" class="input-text" type="text" />
                </div>
</li>
            <li>

                <div class="field">
                    <label for="Additional details. Please be very specific, such as brand, model, condition, what it comes with"><?php echo Mage::helper('quotes')->__('Additional details. Please be very specific, such as brand, model, condition, what it comes with.') ?></label><br />
                    <textarea name="quote" id="quote" title="<?php echo $this->__('Quote') ?>" class="input-text" style="height:120px;width:435px;" cols="50" rows="5"></textarea>
                </div>
               </li>
        </ul>
    </fieldset>
    </div>

    <!-- TSD add captcha -->
    <div class="clear_float"> </div>
    <br />
    <br />
    <?php
       require_once('recaptcha/recaptchalib.php');
       $publickey = "6LcFKuMSAAAAANjmuBqBkY9xWNsevS2C4lIPYAIA"; // you got this from the signup page
       echo recaptcha_get_html($publickey);
    ?>

    <!-- END add captcha -->

    <div class="buttons-set-quote">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
        <button class="button" type="submit" value="Submit"><span><?php echo $this->__('Submit') ?></span></button>
    </div>
</form>
<script type="text/javascript">
    var quoteForm = new VarienForm('quoteForm', true);
</script>