    <!-- PopUp Script -->
    <script language="javascript">
		var popupWindow = null;
		function centeredPopup(url,winName,w,h,scroll){
		LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
		TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
		settings =
		'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
		popupWindow = window.open(url,winName,settings)
		}
    </script>
    <!-- END PopUp Script -->

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div>
<div style="width:800px;float:left;">
    <p><span style="font-family:Calibri;color:#0d4d14;font-size:60px;font-weight:700;width:283px;height:42px;border-right:solid #eeeeee 7px;">	
    	Checkout </span><span style="font-family:Calibri;color:#8bc763;font-size:36px;font-weight:700;width:173px;height:32px;"> &nbsp;&nbsp;Complete</span></p>
    	
    <p><span style="font-family:Calibri;color:#8bc763;font-size:36px;font-weight:700;width:465px;height:25px;border-right:solid #eeeeee 7px;">YOUR ORDER NUMBER IS: </span> <span style="font-family:Calibri;color:#0d4d14;font-size:36px;font-weight:700;width:196px;height:25px;">&nbsp;&nbsp;<?php if ($this->getOrderId()):?><?php if ($this->getCanViewOrder()) :?>
                	<?php echo $this->__(' %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?>
				<?php  else :?>
					<?php echo $this->__(' %s.', $this->escapeHtml($this->getOrderId())) ?>
				<?php endif;?></span></p>
    
    <p style="font-family:Calibri;color:#0d4d14;font-size:36px;font-weight:700;width:221px;height:25px;">Instructions</p>
    <br />
    <br />
    <p style="font-family:Calibri;color:#9fa3a0;font-size:18px;font-weight:700;line-height:24px;width:543px;height:65px;">You will now receive an email with a link to print your shipping label if you cannot print your label right now. (You might need to check your email spam folder). </p>
    <p><span style="font-family:Calibri;color:#0d4d14;font-size:12.6px;font-weight:700;transform:scale(2.857,2.857);width:45px;height:32px;">1.) </span> <span style="font-family:Calibri;color:#9fa3a0;font-size:11.56px;font-weight:700;transform:scale(2.077,2.077);width:323px;height:22px;"> <?php
    	$order_id = $this->getOrderId();
    	$order = Mage::getSingleton('sales/order')->load($order_id, 'increment_id');
     	$order_id = $order->getId();
     	$upslabel = new Infomodus_Upslabelinv_Block_Adminhtml_Upslabelinv_Label_Tabs();
    	echo '<a target="_blank" href="' . Mage::app()->getStore()->getUrl() . 'upslabelinv/label/view/order_id/' . $order_id . '">Print your shipping label</a>';
    ?></span></p>
    <p><span style="font-family:Calibri;color:#0d4d14;font-size:12.6px;font-weight:700;transform:scale(2.857,2.857);width:45px;height:32px;">2.) </span> <span style="font-family:Calibri;color:#9fa3a0;font-size:11.56px;font-weight:700;transform:scale(2.077,2.077);width:323px;height:22px;">Carefully package your item(s)</span></p>
    <p><span style="font-family:Calibri;color:#0d4d14;font-size:12.6px;font-weight:700;transform:scale(2.857,2.857);width:45px;height:32px;">3.) </span> <span style="font-family:Calibri;color:#9fa3a0;font-size:11.56px;font-weight:700;transform:scale(2.077,2.077);width:323px;height:22px;">Bring to UPS drop location or hand package off to a UPS store</span></p>	
    <p><span style="font-family:Calibri;color:#0d4d14;font-size:12.6px;font-weight:700;transform:scale(2.857,2.857);width:45px;height:32px;">4.) </span> <span style="font-family:Calibri;color:#9fa3a0;font-size:11.56px;font-weight:700;transform:scale(2.077,2.077);width:323px;height:22px;">Ask for a receipt!</span></p>
    <h3 style="font-family:Calibri;color:#0d4d14;font-size:36px;font-weight:700;width:394px;height:32px;">What Happens Next?</h3>
    <p style="font-family:Calibri;color:#9fa3a0;font-size:18px;font-weight:700;line-height:24px;">Once we receive your package and inspect the items, we will make payment via paypal or check usually within 24 hours.more</p>
    <h3 style="font-family:Calibri;color:#0d4d14;font-size:36px;font-weight:700;width:394px;height:32px;">How Do I Get Paid?</h3>
    <p style="font-family:Calibri;color:#9fa3a0;font-size:18px;font-weight:700;line-height:24px;">If you chose payment by check it can take 3-7 business days through USPS First Class Mail to arrive once processed. Paypal payments may incur small fees which are out of our control. more</p>
    <br />
    <br />
</div>
<div style="width:400px;float:right;">
<?php
    	$order_id = $this->getOrderId();
    	$order = Mage::getSingleton('sales/order')->load($order_id, 'increment_id');
     	$order_id = $order->getId();
     	$upslabel = new Infomodus_Upslabelinv_Block_Adminhtml_Upslabelinv_Label_Tabs();
    	echo '<br /><a target="_blank" href="' . Mage::app()->getStore()->getUrl() . 'upslabelinv/label/view/order_id/' . $order_id . '"><img src="' . Mage::app()->getStore()->getUrl() . 'media/catalog/checkout/print.png" alt="Print Your UPS Shipping Label" /></a>';
    ?>
    <br />
    <br />
    <img src="<?php echo $this->getUrl('') ?>media/catalog/checkout/mail.png" alt="Check Your Email" />
</div>
<!-- Facebook Conversion Code for GBB-CheckoutPage -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6025305928652', {'value':'50.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025305928652&amp;cd[value]=50.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
<!-- Google Code for GBB Conversion Tag Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 958517136;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "OqoFCN_XlGAQkJ-HyQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/958517136/?label=OqoFCN_XlGAQkJ-HyQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
 <?php endif;?>
 </div>