.tipsyicon {display: inline-block;}
.tipsyicon img {margin-left: 1px; cursor: pointer; padding: 0px 2px 0px 2px; vertical-align: baseline; display: inline-block;}

.webtextooltip{
    position: absolute;
    padding: 10px 13px;
    z-index: 99;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    display: none;
    font-weight: normal;
    text-transform: none;
    max-width: 550px;
    text-align: left;
}

.product-options {position: static !important;}
.product-options p.required {position: static !important; float: right;}