.validation-addressvalidation {
    cursor: pointer;
}
/* Remember Me Popup ===================================================================== */
.window-overlay { background:url(../images/window_overlay.png) repeat; background:rgba(0, 0, 0, 0.35); position:absolute; top:0; left:0; height:100%; width:100%; z-index:990; }

.remember-me-popup .suggest {
background: yellow;
padding: 2px;
border: red 1px solid;
}

.window-overlay {
background: url(../images/window_overlay.png) repeat;
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 990;
}


.remember-me-popup label {
vertical-align: middle;
width: 120px;
display: inline-block;
}
.remember-me-popup div.address {
display: inline-block;
margin: 0 0 0 10px;
vertical-align: middle;
}
.remember-me-popup .remember-me-popup-body a {
display: inline-block;
height: 19px;
border: 1px solid #DE5400;
background: #F18200;
padding: 0 8px;
font: bold 12px/19px Arial, Helvetica, sans-serif;
text-align: center;
text-decoration: none;
white-space: nowrap;
color: white;
}
.remember-me-popup { background:#fff; border:1px solid #ccc; left:50%; top:50%; position:absolute; margin:-85px 0 0 -200px; width:400px; text-align:left; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; -box-shadow:0 0 6px #ccc; z-index:1000; }
.remember-me-popup h3 { background:#d9e5ee; border-bottom:1px solid #ccc; font-size:14px; padding:5px 10px; }
.remember-me-popup .remember-me-popup-head { position:relative; }
.remember-me-popup .remember-me-popup-head .remember-me-popup-close { background:url(../images/btn_window_close.gif) no-repeat; display:block; position:absolute; top:7px; right:7px; height:15px; width:15px; text-indent:-9999em; }
.remember-me-popup .remember-me-popup-body { padding:10px; }
.remember-me-popup .remember-me-popup-body a { display:inline-block; height:19px; border:1px solid #de5400; background:#f18200; padding:0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; white-space:nowrap; color:#fff; }

.remember-me-popup-close_button{cursor: pointer;}
/* Remember Me Popup ===================================================================== */