<?php echo '<div style="display:none;" id="baseurl">'.Mage::getBaseUrl().'</div>'; ?>
<div class="ccfp-main">
<form id="brochure_request" class="ccfp" onsubmit="return checkAll(this)" action="<?php echo $this->getUrl('ccfp/form') ?>index" method="post">
		<input type="hidden" name="configName" value="BrochureRequest" />
        <h4 class="legend">Brochure Request</h4>
        <p>
			<label for="name">Name</label> 
 
			<input name="name" id="name" title="Name" value="" class="required-entry" type="text" />
        </p>
		
		<p>
		    <label for="company">Company</label> 

		    <input name="company" id="company" title="Company" value="" class="" type="text" />
		</p>
		
		<p>
		    <label for="address">Address</label>

		    <input name="address" id="address" title="Address" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="city">City</label> 

			<input name="city" id="city" title="City" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="state">State</label> 

			<input name="state" id="state" title="State" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="zip">Zip</label>

			<input name="zip" id="zip" title="Zip" value="" class="" type="text" />
		</p>
		
		<p>
		    <label for="phone">Phone</label>

		    <input name="phone" id="phone" title="Phone" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="email">Email</label> 

			<input name="email" id="email" title="Email" value="" class="required-entry" type="text" />
		</p>
		
		<p class="checkbox">
			<label for="info">Please send me info about:</label>
			<ul>
			<li><input type="checkbox" name="info1" id="info1" value="Yes" /> Product 1</li>
			<li><input type="checkbox" name="info2" id="info2" value="Yes" /> Product 2</li>
			<li><input type="checkbox" name="info3" id="info3" value="Yes" /> Product 3</li>
			</ul>
		</p>
		
		<p>&nbsp;</p>
				
		<p>
			<!-- DO NOT EDIT! CAPTCHA IMAGE SCRIPT! -->
		    <img src="<?php echo Mage::getBaseUrl(); ?>ccfp/captcha" id="captchaImage" />
			<!-- END CAPTCHA IMAGE -->
		</p>

		<p>
		    <label for="security_code">Security Code</label>
			<!-- START CAPTCHA INPUT BOX -->
		    <input class="required-entry" id="security_code" name="security_code" value="" title="Security Code" type="text" />
			<!-- END CAPTCHA INPUT BOX -->
		</p>
		<p><button class="button" type="submit"><span><span>Submit!</span></span></button></p>
	
</form>
</div>