<?php echo '<div style="display:none;" id="baseurl">'.Mage::getBaseUrl().'</div>'; ?>
<div class="ccfp-main">
<form id="quote_request" class="ccfp" onsubmit="return checkAll(this)" action="<?php echo $this->getUrl('ccfp/form') ?>index" method="post">
		<input type="hidden" name="configName" value="QuoteRequest" />
        <h4 class="legend">Quote Request</h4>
        <p>
			<label for="firstname">First Name</label> 
 
			<input name="firstname" id="firstname" title="First Name" value="" class="required-entry" type="text" />
        </p>
		
		<p>
			<label for="lastname">Last Name</label> 
 
			<input name="lastname" id="lastname" title="Last Name" value="" class="required-entry" type="text" />
        </p>
		
		<p>
		    <label for="company">Company</label> 

		    <input name="company" id="company" title="Company" value="" class="required-entry" type="text" />
		</p>
		
		<p>
		    <label for="title">Title</label> 

		    <input name="title" id="title" title="Title" value="" class="" type="text" />
		</p>
		
		<p>
		    <label for="address">Address</label> 

		    <input name="address" id="address" title="Address" value="" class="" type="text" />
		</p>
		
		<p>
		    <label for="city">City</label> 

		    <input name="city" id="city" title="City" value="" class="required-entry" type="text" />
		</p>
		
		<p>
			<label for="state">State</label> 

			<input name="state" id="state" title="State" value="" class="required-entry" type="text" />
		</p>
		
		<p>
		    <label for="zip">Zip Code</label> 

		    <input name="zip" id="zip" title="Zip Code" value="" class="required-entry" type="text" />
		</p>
 		
		<p>
		    <label for="phone">Phone</label>

		    <input name="phone" id="phone" title="Phone" value="" class="required-entry" type="text" />
		</p>

		
		
		<p>
			<label for="email">Email Address</label> 

			<input name="email" id="email" title="Email Address" value="" class="required-entry" type="text" />
		</p>
		
		<p>&nbsp;</p>
		
		<p>
			<label for="item1">Item Name</label> 

			<input name="item1" id="item1" title="Item Name" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="part1">Item Part #</label> 

			<input name="part1" id="part1" title="Item Part #" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="quantity1">Quantity</label> 

			<input name="quantity1" id="quantity1" title="Quantity" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="available1">Desired Availability (Format: mm/dd/yyyy)</label> 

			<input name="available1" id="available1" title="Desired Availability" value="" class="" type="text" />
		</p>
		
		<p>&nbsp;</p>
		
		<p>
			<label for="item2">Item Name</label> 

			<input name="item2" id="item2" title="Item Name" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="part2">Item Part #</label> 

			<input name="part2" id="part2" title="Item Part #" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="quantity2">Quantity</label> 

			<input name="quantity2" id="quantity2" title="Quantity" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="available2">Desired Availability (Format: mm/dd/yyyy)</label> 

			<input name="available2" id="available2" title="Desired Availability" value="" class="" type="text" />
		</p>
		
		<p>&nbsp;</p>
		
		<p>
			<label for="item3">Item Name</label> 

			<input name="item3" id="item3" title="Item Name" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="part3">Item Part #</label> 

			<input name="part3" id="part3" title="Item Part #" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="quantity3">Quantity</label> 

			<input name="quantity3" id="quantity3" title="Quantity" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="available3">Desired Availability (Format: mm/dd/yyyy)</label> 

			<input name="available3" id="available3" title="Desired Availability" value="" class="" type="text" />
		</p>
		
		<p>&nbsp;</p>
		
		<p>
			<label for="item4">Item Name</label> 

			<input name="item4" id="item4" title="Item Name" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="part4">Item Part #</label> 

			<input name="part4" id="part4" title="Item Part #" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="quantity4">Quantity</label> 

			<input name="quantity4" id="quantity4" title="Quantity" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="available4">Desired Availability (Format: mm/dd/yyyy)</label> 

			<input name="available4" id="available4" title="Desired Availability" value="" class="" type="text" />
		</p>
				
		<p>
			<!-- DO NOT EDIT! CAPTCHA IMAGE SCRIPT! -->
		    <img src="<?php echo Mage::getBaseUrl(); ?>ccfp/captcha" id="captchaImage" />
			<!-- END CAPTCHA IMAGE -->
		</p>

		<p>
		    <label for="security_code">Security Code</label>
			<!-- START CAPTCHA INPUT BOX -->
		    <input class="required-entry" id="security_code" name="security_code" value="" title="Security Code" type="text" />
			<!-- END CAPTCHA INPUT BOX -->
		</p>
		<p><button class="button" type="submit"><span><span>Submit!</span></span></button></p>
	
</form>
</div>