<?php echo '<div style="display:none;" id="baseurl">'.Mage::getBaseUrl().'</div>'; ?>
<div class="ccfp-main">
<form id="service_call" class="ccfp" onsubmit="return checkAll(this)" action="<?php echo $this->getUrl('ccfp/form') ?>index" method="post">
		<input type="hidden" name="configName" value="ServiceCall" />
        <h4 class="legend">Service Call</h4>
        <p>
			<label for="name">Name</label> 
 
			<input name="name" id="name" title="Name" value="" class="required-entry" type="text" />
        </p>
		
		<p>
			<label for="email">Email</label> 

			<input name="email" id="email" title="Email" value="" class="required-entry" type="text" />
		</p>

		<p>
		    <label for="company">Company</label> 

		    <input name="company" id="company" title="Company" value="" class="" type="text" />
		</p>
 		
		<p>
		    <label for="phone">Phone</label>

		    <input name="phone" id="phone" title="Phone" value="" class="" type="text" />
		</p>

		<p>
			<label for="location">Location/City</label> 

			<input name="location" id="location" title="Location/City" value="" class="" type="text" />
		</p>

		<p>
			<label for="contact">What is the best time to contact you (M - F EST)?</label> 

			<select name="contact">
				<option value="Morning">Morning</option>
				<option value="Afternoon">Afternoon</option>
				<option value="Evening">Evening</option>
			</select>
		</p>
		
		<p>
			<label for="details">Please tell us about your problems with as much detail as possible.</label>
			
			<textarea name="details" id="details" rows="5" cols="30" class=""></textarea>
		</p>
			
		<p>
			<!-- DO NOT EDIT! CAPTCHA IMAGE SCRIPT! -->
		    <img src="<?php echo Mage::getBaseUrl(); ?>ccfp/captcha" id="captchaImage" />
			<!-- END CAPTCHA IMAGE -->
		</p>

		<p>
		    <label for="security_code">Security Code</label>
			<!-- START CAPTCHA INPUT BOX -->
		    <input class="required-entry" id="security_code" name="security_code" value="" title="Security Code" type="text" />
			<!-- END CAPTCHA INPUT BOX -->
		</p>
		<p><button class="button" type="submit"><span><span>Submit!</span></span></button></p>
	
</form>
</div>