<?php echo '<div style="display:none;" id="baseurl">'.Mage::getBaseUrl().'</div>'; ?>
<div class="ccfp-main">
<form id="support_form" class="ccfp" onsubmit="return checkAll(this)" action="<?php echo $this->getUrl('ccfp/form') ?>index" method="post">
		<input type="hidden" name="configName" value="SupportForm" />
        <h4 class="legend">Support Form</h4>
        <p>
			<label for="name">Name</label> 
 
			<input name="name" id="name" title="Name" value="" class="required-entry" type="text" />
        </p>
		
		<p>
			<label for="company">Company Name</label> 
 
			<input name="company" id="company" title="Company Name" value="" class="" type="text" />
        </p>
		
		<p>
			<label for="email">Email Address</label> 

			<input name="email" "id="email" title="Email Address" value="" class="required-entry" type="text" />
		</p>
		
		<p>
			<label for="phone">Phone</label> 

			<input name="phone" id="phone" title="Phone" value="" class="required-entry" type="text" />
		</p>
		
		<p>
			<label for="website">Website</label> 

			<input name="website" id="website" title="Website" value="" class="" type="text" />
		</p>
		
		<p>
		    <label for="helpwith">Area you need help with:</label>
			<ul>
		    <li><input type="checkbox" class="" name="checkbox1" id="checkbox1" value="Yes" /> <label for="checkbox1">Editing Content</label></li>
			<li><input type="checkbox" class="" name="checkbox2" id="checkbox2" value="Yes" /> <label for="checkbox2">Products and Categories</label></li>
			<li><input type="checkbox" class="" name="checkbox3" id="checkbox3" value="Yes" /> <label for="checkbox3">Custom Pages</label></li>
			<li><input type="checkbox" class="" name="checkbox4" id="checkbox4" value="Yes" /> <label for="checkbox4">Email Issues/New Email</label></li>
			<li><input type="checkbox" class="" name="checkbox5" id="checkbox5" value="Yes" /> <label for="checkbox5">Newsletter</label></li>
			<li><input type="checkbox" class="" name="checkbox6" id="checkbox6" value="Yes" /> <label for="checkbox6">Attributes</label></li>
			<li><input type="checkbox" class="" name="checkbox7" id="checkbox7" value="Yes" /> <label for="checkbox7">Users/Security</label></li>
			<li><input type="checkbox" class="" name="checkbox8" id="checkbox8" value="Yes" /> <label for="checkbox8">Other</label></li>
			</ul>
		</p>
		
		<p>
			<label for="problem">Please describe problem (be as detailed as possible)</label> 

			<textarea name="problem" id="problem" title="Please describe problem" class="required-entry" rows="5" cols="30"></textarea>
		</p>
		
		<p>
			<label for="link">Page Link (copy &amp; paste url)</label> 

			<input name="link" id="link" title="Page Link" value="" class="" type="text" />
		</p>
		
		<p>
			<label for="error">Error Message (If applicable, copy &amp; paste)</label> 

			<textarea name="error" id="error" title="Error Message" class="" rows="5" cols="30"></textarea>
		</p>
		
		<p>
		    <img src="<?php echo Mage::getBaseUrl(); ?>ccfp/captcha" id="captchaImage" />
		</p>
		
		<p>
		    <label for="security_code">Security Code</label>
			
		    <input class="required-entry" id="security_code" name="security_code" value="" title="Security Code" type="text" />
		</p>
		
		<p><button class="button" type="submit"><span><span>Submit!</span></span></button></p>
</form>
</div>