<?php echo '<div style="display:none;" id="baseurl">'.Mage::getBaseUrl().'</div>'; ?>
<div class="ccfp-main">
<form id="survey_form" class="ccfp" onsubmit="return checkAll(this)" action="<?php echo $this->getUrl('ccfp/form') ?>index" method="post">
		<input type="hidden" name="configName" value="SurveyForm" />
        <h4 class="legend">Survey Form</h4>
        <p>
			<label for="firstname">First Name</label> 
 
			<input name="firstname" id="firstname" title="First Name" value="" class="required-entry" type="text" />
        </p>
		
		<p>
			<label for="lastname">Last Name</label> 
 
			<input name="lastname" id="lastname" title="Last Name" value="" class="required-entry" type="text" />
        </p>
		
		<p>
			<label for="email">Email</label> 

			<input name="email" "id="email" title="Email" value="" class="required-entry" type="text" />
		</p>
		
		<p>
			<label for="state">State</label> 

			<input name="state" id="state" title="State" value="" class="" type="text" />
		</p>
		
		<p>
		    <label for="hearabout">How did you hear about us?</label>

		    <select name="hearabout" id="hearabout" title="How did you hear about us?" class="required-entry">
				<option value=""></option>
				<option value="Google">Google</option>
				<option value="Friend">Friend</option>
				<option value="Advertisement">Advertisement</option>
				<option value="Other">Other</option>
			</select>
		</p>

		<p>
			<label for="rateus">How Would You Rate our Customer Service?</label>
			<ul>
			<li><input type="radio" name="rateus" id="rateus" title="How Would You Rate our Customer Service?" value="Excellent" selected="selected" /> Excellent</li>
			<li><input type="radio" name="rateus" id="rateus" title="How Would You Rate our Customer Service?" value="Good" /> Good</li>
			<li><input type="radio" name="rateus" id="rateus" title="How Would You Rate our Customer Service?" value="Avarage" /> Avarage</li>
			<li><input type="radio" name="rateus" id="rateus" title="How Would You Rate our Customer Service?" value="Bad" /> Bad</li>
			<li><input type="radio" name="rateus" id="rateus" title="How Would You Rate our Customer Service?" value="Horrible" /> Horrible</li>
			</ul>
		</p>
		
		<p>&nbsp;</p>
		
		<p>
		    <img src="<?php echo Mage::getBaseUrl(); ?>ccfp/captcha" id="captchaImage" />
		</p>
		
		<p>
		    <label for="security_code">Security Code</label>
			
		    <input class="required-entry" id="security_code" name="security_code" value="" title="Security Code" type="text" />
		</p>
		
		<p><button class="button" type="submit"><span><span>Submit!</span></span></button></p>
</form>
</div>