    <!-- PopUp Script -->
    <script language="javascript">
		var popupWindow = null;
		function centeredPopup(url,winName,w,h,scroll){
		LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
		TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
		settings =
		'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
		popupWindow = window.open(url,winName,settings)
		}
    </script>
    <!-- END PopUp Script -->
    <!-- Google Code for TPO Sale Conversion Page -->
    <script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 945703016;
		var google_conversion_language = "en";
		var google_conversion_format = "2";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "SK7LCNCx7QMQ6JD5wgM";
		var google_conversion_value = 1.000000;
		var google_remarketing_only = false;
		/* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
        	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/945703016/?value=0&amp;label=SK7LCNCx7QMQ6JD5wgM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    <!-- END Google Code for TPO Sale Conversion Page -->
    
    
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="page-title" style="color:#005b8a;font-size:13pt;">
    <h2 style="font-size:30px;font-weight:lighter;color:#005b8a;">		
		<?php echo $this->__('Checkout Complete!<br />YOUR ORDER NUMBER IS:') ?>
			<?php if ($this->getOrderId()):?>
                <?php if ($this->getCanViewOrder()) :?>
                    <?php echo $this->__(' %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?>
           <?php  else :?>
                <?php echo $this->__(' %s.', $this->escapeHtml($this->getOrderId())) ?>
           <?php endif;?>
    </h2>
    <?php
    	$order_id = $this->getOrderId();
    	$order = Mage::getSingleton('sales/order')->load($order_id, 'increment_id');
     	$order_id = $order->getId();
     	$upslabel = new Infomodus_Upslabelinv_Block_Adminhtml_Upslabelinv_Label_Tabs();
    	echo '<br /><a target="_blank" href="' . Mage::app()->getStore()->getUrl() . 'upslabelinv/label/view/order_id/' . $order_id . '"><img src="' . Mage::app()->getStore()->getUrl() . 'media/catalog/checkout/print_ups_label.png" alt="Print Your UPS / USPS Shipping Label" /></a>';
    ?>
    <br />
    <br />
    <img alt="Check Your Email" src="<?php echo $this->getUrl('') ?>media/catalog/checkout/check_your_email.png" />
    <br />
    <br />
    <hr width="100%" color="#005b8a" />
    <br />
    <h3>Instructions</h3>
    <p>
    	<strong>You will now receive an email with a link to print your shipping label if you cannot print your label right now.</strong> (You might need to check your email spam folder)
    </p>
    <p>
    	1) Print Your Shipping Label<br />
		2) Carefully Package Your Item(s)<br />
		3) Bring to UPS or Post Office<br />
		4) Ask for a receipt!<br />
    </p>
    <p>
		<a style="color:#005b8a;text-decoration:underline;" href="<?php echo $this->getUrl('') ?>shipping" target="_blank">Click here for full Shipping FAQs</a>
    </p>
    <h3>What Happens Next?</h3>
    <p>
    	Once we receive your package and inspect the items, we will make payment via paypal or check usually within 24 hours.
    </p>
    <h3>How do I get paid?</h3>
    <p>
    	If you chose payment by check it can take 3-7 business days through USPS First Class Mail to arrive once processed. PayPal payments may incur small fees which are out of our control.
    </p>
    <p>
    	<a style="color:#005b8a;text-decoration:underline;" href="<?php echo $this->getUrl('') ?>faqs" target="_blank">Click here for full FAQs</a>
    </p>
    <h3>Questions?</h3>
    <p style="font-size:32px;">
    	email: <strong><a style="color:#005b8a;text-decoration:underline;" href="mailto:info@techpayout.com">info@techpayout.com</a></strong><br />
       call: <strong><a>646-535-CELL</a></strong>
    </p>
	<script type="text/javascript">
                    /* <![CDATA[ */
                    var fb_param = {};
                    fb_param.pixel_id = "6009948200354";
                    fb_param.value = "0.00";
                    fb_param.currency = "USD";
                    (function(){
                      var fpw = document.createElement("script");
                      fpw.async = true;
                      fpw.src = "//connect.facebook.net/en_US/fp.js";
                      var ref = document.getElementsByTagName("script")[0];
                      ref.parentNode.insertBefore(fpw, ref);
                    })();
                    /* ]]> */
                </script>
                <noscript><img height="1" width="1" alt="" style="display:none" src="//www.facebook.com/offsite_event.php?id=6009948200354&amp;value=0…" /></noscript>
            </p>
        <?php endif;?>
</div>