<?php
#$totals = Mage::helper('checkout')->getQuote()->getTotals();
$customer = Mage::getSingleton('customer/session')->getCustomer();
$firstname = $customer->getFirstname();
$lastname = $customer->getLastname();
$order_id = $this->getOrderId();
$order = Mage::getSingleton('sales/order')->load($order_id, 'increment_id');
$order_id = $order->getId();
$totals = $order->getGrandTotal();
$upslabel = new Infomodus_Upslabelinv_Block_Adminhtml_Upslabelinv_Label_Tabs();
$shipMethodArray = explode('_', $order->getShippingMethod());
$shipWay = 0;
if ($shipMethodArray[0] == 'upstablerates' && count($shipMethodArray) > 2 && Mage::getStoreConfig('upslabelinv/profile/autocreatelabel')==1) {
    $upstablerates = Mage::getResourceModel('upstablerates_shipping/carrier_upstablerates')->loadPk($shipMethodArray[2]);
    $shipWay = $upstablerates['way'];
    if ((int)$shipWay != 3) {
        echo '<br /><a target="_blank" href="' . Mage::app()->getStore()->getUrl() . 'upslabelinv/label/view/order_id/' . $order_id . '"><img src="https://techpayout.com/skin/frontend/default/techPayout/images/clicktoprintshippinglabel.jpg" alt="print shipping label" /></a><p>
		<strong>WHEN SHIPPING EXPENSIVE ITEMS PLEASE PACK VERY CAREFULLY & ALWAYS ASK FOR A RECEIPT. BY USING YOUR OWN MAILBOX, YOU ARE RISKING YOUR PACKAGE NOT BEING SCANNED.</strong></p>

Questions: <a href="http://techpayout.com/shipping" target="_blank">Click here</a> for Shipping FAQs.<br /><br />
<h1>WHAT HAPPENS NEXT?</h1><p>
  Once we receive your package and inspect the items, we will make payment via paypal or check <br>
  usually within 24 hours. Keep an eye out for emails with status updates.</p>
<p>If you have any questions, please email us at <a href="mailto:info@techpayout.com">info@techpayout.com</a> or call us at <a>646-535-CELL</a> </p>

<script language="JavaScript" src="https://gitrack.goodinfluence.org/JS/tracking.js">; </script> 

<script type="text/javascript"> 

conversion_track2("30076001-30076001001001xxx001","' . $totals . '", "' . $order_id . '", "' . $firstname . '", "' . $lastname . '", "TechPayout", "Optional_2", "Optional_3", "Optional_4" , "Optional_5", "Optional_6", "Optional_7"); 

</script>

<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = "6009948200354";
fb_param.value = "0.00";
fb_param.currency = "USD";
(function(){
  var fpw = document.createElement("script");
  fpw.async = true;
  fpw.src = "//connect.facebook.net/en_US/fp.js";
  var ref = document.getElementsByTagName("script")[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6009948200354&amp;value=0…" /></noscript>

';
    }
}