<?php
/**
 * Created by JetBrains PhpStorm.
 * Author Rudyuk Vitalij Anatolievich
 * Email rvansp@gmail.com
 * Blog www.cervic.info
 */
?>
<?php
echo '<form id="edit_form" action="' . $this->getUrl('upslabelinv/adminhtml_upslabelinv/showlabel/order_id/' . $this->getRequest()->getParam('order_id') . '/type/' . $this->getRequest()->getParam('type')) . '" method="post">';
?>
<?php $hiddenInput = ''; ?>
<div class="box-left">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head fieldset-legend"><?php echo Mage::helper('adminhtml')->__('Configuration options'); ?></h4>
        </div>
        <div class="np fieldset">
            <div>
                <div class="content">
                    <div class="hor-scroll">
                        <table cellspacing="0" class="form-list">
                            <tbody>
                            <tr>
                                <td class="label">
                                    <label
                                        for="servicecode"><?php echo Mage::helper('adminhtml')->__('Ups shipping method'); ?></label>
                                </td>
                                <td class="value">
                                    <?php if ($shipByUps == 'ups' || $shipByUps == 'upstablerates'): ?>
                                    <span style="text-decoration: underline;"><?php echo $shipByUpsMethodName; ?></span>
                                    <input type="hidden" name="servicecode" readonly="readonly"
                                           value="<?php echo $shipByUpsCode; ?>">
                                    <br/>
                                    <?php endif; ?>
                                    <select name="serviceCode" id="serviceCode">
                                        <?php foreach ($shipByUpsMethods AS $k => $v): ?>
                                        <option
                                            value="<?php echo $k; ?>"<?php echo $shipByUpsCode == $k ? ' SELECTED' : ''; ?>><?php echo $v; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label
                                    for="packagingtypecode"><?php echo Mage::helper('adminhtml')->__('Packaging Type Code'); ?>
                                    <span class="required">*</span></label>
                                </td>
                                <td class="value"><input id="packagingtypecode"
                                                         name="packagingtypecode"
                                                         value="<?php echo Mage::getStoreConfig('upslabelinv/profile/packagingtypecode'); ?>"
                                                         class=" input-text required-entry" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label
                                    for="packagingdescription"><?php echo Mage::helper('adminhtml')->__('Packaging Description'); ?>
                                    <span class="required">*</span></label>
                                </td>
                                <td class="value"><input id="packagingdescription"
                                                         name="packagingdescription"
                                                         value="<?php echo Mage::getStoreConfig('upslabelinv/profile/packagingdescription'); ?>"
                                                         class=" input-text required-entry" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label
                                    for="packagingreferencenumbercode"><?php echo Mage::helper('adminhtml')->__('Packaging Reference Number Code'); ?></label>
                                </td>
                                <td class="value"><input id="packagingreferencenumbercode"
                                                         name="packagingreferencenumbercode"
                                                         value="<?php echo Mage::getStoreConfig('upslabelinv/profile/packagingreferencenumbercode'); ?>"
                                                         class=" input-text" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label
                                    for="packagingreferencenumbervalue"><?php echo Mage::helper('adminhtml')->__('Packaging Reference Number Value'); ?></label>
                                </td>
                                <td class="value"><input id="packagingreferencenumbervalue"
                                                         name="packagingreferencenumbervalue"
                                                         value="<?php echo Mage::getStoreConfig('upslabelinv/profile/packagingreferencenumbervalue'); ?>"
                                                         class=" input-text" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label
                                    for="testing"><?php echo Mage::helper('adminhtml')->__('Test mode'); ?></label>
                                </td>
                                <td class="value">
                                    <?php
                                    $isTestingSelected[0] = '';
                                    $isTestingSelected[1] = '';
                                    $isTestingSelected[Mage::getStoreConfig('upslabelinv/profile/testing')] = ' SELECTED';
                                    ?>
                                    <select name="testing" id="testing">
                                        <option
                                            value="1"<?php echo $isTestingSelected[1]; ?>><?php echo Mage::helper('adminhtml')->__('Yes'); ?></option>
                                        <option
                                            value="0"<?php echo $isTestingSelected[0]; ?>><?php echo Mage::helper('adminhtml')->__('No'); ?></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label
                                    for="shipmentdescription"><?php echo Mage::helper('adminhtml')->__('Shipment Description'); ?></label>
                                </td>
                                <td class="value"><textarea id="shipmentdescription"
                                                            name="shipmentdescription"
                                                            class=" input-text"><?php echo Mage::helper('adminhtml')->__('Customer') . ': ' . $shipTo->getFirstname() . ' ' . $shipTo->getLastname() . ' ' . Mage::helper('adminhtml')->__('Order Id') . ': ' . $order->getIncrementId(); ?></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-right">
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head fieldset-legend"><?php echo Mage::helper('adminhtml')->__('Configuration weight'); ?></h4>
    </div>
    <div class="np fieldset">
        <div>
            <div class="content">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                        <tr>
                            <td class="label"><label
                                for="weightunits"><?php echo Mage::helper('adminhtml')->__('Specific unit weight'); ?></label>
                            </td>
                            <td class="value">
                                <?php
                                $isWeightunitsSelected['LBS'] = '';
                                $isWeightunitsSelected['KGS'] = '';
                                $isWeightunitsSelected[Mage::getStoreConfig('upslabelinv/profile/weightunits')] = ' SELECTED';
                                ?>
                                <select name="weightunits" id="weightunits">
                                    <option value="LBS"<?php echo $isWeightunitsSelected['LBS']; ?>>LBS</option>
                                    <option value="KGS"<?php echo $isWeightunitsSelected['KGS']; ?>>KGS</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="weightunitsdescription"><?php echo Mage::helper('adminhtml')->__('Specific unit weight description'); ?></label>
                            </td>
                            <td class="value">
                                <input type="text" name="weightunitsdescription"
                                       id="weightunitsdescription" value="" class="input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="weight"><?php echo Mage::helper('adminhtml')->__('Weight'); ?> <span
                                class="required">*</span></label>
                            </td>
                            <td class="value">
                                <input type="text" name="weight" id="weight"
                                       value="<?php echo $shipmentTotalWeight; ?>" class="required-entry input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="packweight"><?php echo Mage::helper('adminhtml')->__('Pack weight'); ?></label>
                            </td>
                            <td class="value">
                                <input type="text" name="packweight" id="packweight"
                                       value="<?php echo Mage::getStoreConfig('upslabelinv/profile/packweight'); ?>" class=" input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="largepackageindicator"><?php echo Mage::helper('adminhtml')->__('Large Package'); ?></label>
                            </td>
                            <td class="value">
                                <?php
                                $isLargePackageIndicatorSelected['Yes'] = '';
                                $isLargePackageIndicatorSelected['No'] = '';
                                if ($order->getWeight() >= 90) {
                                    $isLargePackageIndicatorSelected['Yes'] = ' SELECTED';
                                }
                                else {
                                    $isLargePackageIndicatorSelected['No'] = ' SELECTED';
                                }
                                ?>
                                <select name="largepackageindicator" id="largepackageindicator">
                                    <option
                                        value="<LargePackageIndicator />"<?php echo $isLargePackageIndicatorSelected['Yes']; ?>><?php echo Mage::helper('adminhtml')->__('Yes'); ?></option>
                                    <option
                                        value=""<?php echo $isLargePackageIndicatorSelected['No']; ?>><?php echo Mage::helper('adminhtml')->__('No'); ?></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="includedimensions"><?php echo Mage::helper('adminhtml')->__('Include dimensions'); ?></label>
                            </td>
                            <td class="value">
                                <?php
                                $isIncludedimensionsChecked = '';
                                if (Mage::getStoreConfig('upslabelinv/profile/includedimensions') == 1) {
                                    $isIncludedimensionsChecked = 'checked="checked"';
                                }
                                ?>
                                <input type="hidden" name="includedimensions" value="0">
                                <input type="checkbox" name="includedimensions" id="includedimensions"
                                       value="1"<?php echo $isIncludedimensionsChecked; ?>>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="unitofmeasurement"><?php echo Mage::helper('adminhtml')->__('Unit of measurement'); ?></label>
                            </td>
                            <td class="value">
                                <select name="unitofmeasurement" id="unitofmeasurement">
                                    <?php foreach ($unitofmeasurement AS $k => $v): ?>
                                    <option
                                        value="<?php echo $k; ?>"<?php echo Mage::getStoreConfig('upslabelinv/profile/utinofmeasurement') == $k ? ' SELECTED' : ''?>><?php echo $v; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="unitofmeasurementdescription"><?php echo Mage::helper('adminhtml')->__('Unit of measurement description'); ?></label>
                            </td>
                            <td class="value">
                                <input type="text" name="unitofmeasurementdescription"
                                       id="unitofmeasurementdescription" value="" class=" input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="length"><?php echo Mage::helper('adminhtml')->__('Length'); ?></label>
                            </td>
                            <td class="value">
                                <input type="text" name="length" id="length" value="" class=" input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="width"><?php echo Mage::helper('adminhtml')->__('Width'); ?></label>
                            </td>
                            <td class="value">
                                <input type="text" name="width" id="width" value="" class=" input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="height"><?php echo Mage::helper('adminhtml')->__('Height'); ?></label>
                            </td>
                            <td class="value">
                                <input type="text" name="height" id="height" value="" class=" input-text">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head fieldset-legend"><?php echo Mage::helper('adminhtml')->__('Customer Address'); ?></h4>
    </div>
    <div class="np fieldset">
        <div>
            <div class="content">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                        <?php if ($type != 'from'): ?>
                        <tr>
                            <td class="label"><label
                                for="residentialaddress"><?php echo Mage::helper('adminhtml')->__('Residential address'); ?></label>
                            </td>
                            <td class="value">
                                <?php
                                $isResidentialaddressSelected['Yes'] = '';
                                $isResidentialaddressSelected['No'] = '';
                                if (strlen($shipTo->getCompany()) > 0) {
                                    $isResidentialaddressSelected['No'] = ' SELECTED';
                                }
                                else {
                                    $isResidentialaddressSelected['Yes'] = ' SELECTED';
                                }
                                ?>
                                <select name="residentialaddress" id="residentialaddress">
                                    <option
                                        value="<ResidentialAddress />"<?php echo $isResidentialaddressSelected['Yes']; ?>>
                                        Yes
                                    </option>
                                    <option value=""<?php echo $isResidentialaddressSelected['No']; ?>>No</option>
                                </select>
                            </td>
                        </tr>
                            <?php else: ?>
                            <?php $hiddenInput .= '<input type="hidden" name="residentialaddress" value="">'; ?>
                            <?php endif; ?>
                        <tr>
                            <td class="label"><label
                                for="shiptocompanyname"><?php echo Mage::helper('adminhtml')->__('Company name'); ?>
                                <span class="required">*</span></label>
                            </td>
                            <td class="value">
                                <input type="text" name="shiptocompanyname" id="shiptocompanyname"
                                       value="<?php echo strlen($shipTo->getCompany())>0?$shipTo->getCompany():$shipTo->getFirstname() . ' ' . $shipTo->getLastname(); ?>" class="required-entry input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="shiptoattentionname"><?php echo Mage::helper('adminhtml')->__('Attention name'); ?>
                                <span class="required">*</span></label>
                            </td>
                            <td class="value">
                                <input type="text" name="shiptoattentionname" id="shiptoattentionname"
                                       value="<?php echo $shipTo->getFirstname() . ' ' . $shipTo->getLastname(); ?>"
                                       class="required-entry input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="shiptophonenumber"><?php echo Mage::helper('adminhtml')->__('Phone number'); ?>
                                <span class="required">*</span></label>
                            </td>
                            <td class="value">
                                <input type="text" name="shiptophonenumber" id="shiptophonenumber"
                                       value="<?php echo $shipTo->getTelephone(); ?>" class="required-entry input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="shiptoaddressline1"><?php echo Mage::helper('adminhtml')->__('Address line 1'); ?>
                                <span class="required">*</span></label>
                            </td>
                            <td class="value">
                                <input type="text" name="shiptoaddressline1" id="shiptoaddressline1"
                                       value="<?php echo implode(' ', $shipTo->getStreet()); ?>" class="required-entry input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="shiptocity"><?php echo Mage::helper('adminhtml')->__('City'); ?> <span
                                class="required">*</span></label>
                            </td>
                            <td class="value">
                                <input type="text" name="shiptocity" id="shiptocity"
                                       value="<?php echo $shipTo->getCity(); ?>" class="required-entry input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="shiptostateprovincecode"><?php echo Mage::helper('adminhtml')->__('State (province)'); ?></label>
                            </td>
                            <td class="value">
                                <input type="text" name="shiptostateprovincecode" id="shiptostateprovincecode"
                                       value="<?php echo $shipTo->getRegion(); ?>" class="input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="shiptopostalcode"><?php echo Mage::helper('adminhtml')->__('Postal code'); ?> <span
                                class="required">*</span></label>
                            </td>
                            <td class="value">
                                <input type="text" name="shiptopostalcode" id="shiptopostalcode"
                                       value="<?php echo $shipTo->getPostcode(); ?>" class="required-entry input-text">
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label
                                for="shiptocountrycode"><?php echo Mage::helper('adminhtml')->__('Country code'); ?>
                                <span class="required">*</span></label>
                            </td>
                            <td class="value">
                                <input type="text" name="shiptocountrycode" id="shiptocountrycode"
                                       value="<?php echo $shipTo->getCountryId(); ?>" class="required-entry input-text">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<?php echo $hiddenInput; ?>
<input type="hidden" value="<?php echo $referer; ?>" name="referer" />
<div class="f-right" style="clear:both;">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"/>
    <button type="button" class="scalable save submit-button"
            onclick="if(editForm.submit()) disableElements('submit-button');" style="">
        <span><?php echo Mage::helper('adminhtml')->__('Submit'); ?></span></button>
</div>
</form>
<script type="text/javascript">
    editForm = new varienForm('edit_form', '');
</script>