<?php
/**
 * Created by JetBrains PhpStorm.
 * Author Rudyuk Vitalij Anatolievich
 * Email rvansp@gmail.com
 * Blog www.cervic.info
 */
if (count($error) == 0) {
    echo '<h1> Order ID ' . $order_id . ' TN ' . $upsl['trackingnumber'] . '</h1>
<br />
<a href="' . $backLink . '">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="' . $this->getUrl('upslabelinv/adminhtml_upslabelinv/deletelabel/order_id/' . $order_id.'/type/'.$type) . '">Delete Label</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="' . $this->getUrl('upslabelinv/adminhtml_upslabelinv/print/imname/' . $upsl['labelname']) . '" target="_blank">Print Label Gif</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="' . Mage::getBaseUrl('media') . 'upslabelinv/label/' . $upsl['trackingnumber'] . '.html" target="_blank">Print Html image</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="' . Mage::getUrl('upslabelinv/adminhtml_pdflabels/onepdf/order_id/'.$order_id.'/type/'.$type) . '" target="_blank">Print PDF</a>';
    if (file_exists(Mage::getBaseDir('media') . '/upslabelinv/label/' . "HVR" . $upsl['trackingnumber'] . ".html")) {
        echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="' . Mage::getBaseUrl('media') . 'upslabelinv/label/HVR' . $upsl['trackingnumber'] . '.html" target="_blank">Print High Value report</a>';
    }
    echo '
<br /><br />
Tracking Number ' . $upsl['trackingnumber'] . '
<br /><br />
<br /><a href="' . Mage::getBaseUrl('media') . 'upslabelinv/label/' . $upsl['labelname'] . '" target="_blank"><img src="' . Mage::getBaseUrl('media') . 'upslabelinv/label/' . $upsl['labelname'] . '" /></a>';
} else {
    echo $error['error'];
}