/* Eric Meyer's CSS Tools: Reset CSS (Modified by Hieu Nguyen)
-------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}

body {
	line-height: 1;
}

/* Clearfix
-------------------------------------------------------------*/
* html .clearfix {
	height: 1%; /* IE5-6 */
}

.clearfix {
	display: inline-block; /* IE7xhtml*/
}

html[xmlns] .clearfix { /* O */
	display: block;  
}

.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearer      { display: block; clear: both; font-size: 0; line-height: 0; height: 0; overflow: hidden; }

/* Mis.
-------------------------------------------------------------*/

/* Forms */
form          { display: inline; }
fieldset      { border: 0; }
legend        { display: none; }

/* Content */
p             { margin: 0 0 10px; }
strong        { font-weight: bold; }
address       { font-style: normal; line-height: 1.35; }
cite          { font-style: normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small         { font-size: 1em; }
big           { font-size: 2em; }
/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space: nowrap !important; }
.wrap         { white-space: normal !important; }
.a-left       { text-align: left !important; }
.a-center     { text-align: center !important; }
.a-right      { text-align: right !important; }
.v-top        { vertical-align: top; }
.v-middle     { vertical-align: middle; }
.f-left,
.left         { float: left !important; }
.f-right,
.right        { float: right !important; }
.f-none       { float: none !important; }
.f-fix        { float: left; width: 100%; }
.no-display   { display: none; }
.no-margin    { margin: 0 !important; }
.no-padding   { padding: 0 !important; }
.no-bg        { background: none !important; }

/* Lists */
ul,ol         { list-style:none; }

/* remember to highlight inserts somehow! */
ins           { text-decoration: none; }

del           { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table         { border: 0; border-spacing: 0; empty-cells: show; }
caption,th,td { vertical-align: top; text-align: left; font-weight: normal; }

/*Various Clears---*/
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col3-layout .product-options-bottom .price-box:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after {
	display: block;
	content: ".";
	clear: both;
	font-size: 0;
	line-height: 0;
	height: 0;
	overflow: hidden;
}

/* TSD ADDS */
.maxprice {
	font-size: 18px;
	color: #000;
}
.maxprice .price {
	font-size: 30px;
	color:#216c2a;
}
tfoot button.button {
	margin:20px;
}
.input-box button.button {
margin: 11px 5px 0;
}

/* Sponsors Gamers */
#display_stream_container {
	width: 100%;
  	text-align: center;
	  position: relative;
	  z-index: 2;
}
#display_stream {
  	position: relative;
		display: inline-block;
  	top: 150px;  
  	max-width: 60%;
}
#display_stream a {
  	display: block;
  	cursor: pointer;
}
#sponsored_gamers {
		position: absolute;
		bottom: -80px;
  	cursor: pointer;
		z-index: 1;
}
#sponsored_gamers li {
	display: inline-block;
	list-style: none;
	text-align: center;
  	position: relative;
}
#sponsored_gamers li:after:hover {
	  opacity:.5;
}
#sponsored_gamers li h3 {
	position:relative;
	top: -10px;
	margin: 0px;
	cursor:pointer;
}
#sponsored_gamers li h3 img {
	position:relative;
	top: 10px;
	left: -5px;
}
#sponsored_gamers li img {
	position:relative;
}

.cms-sponsored-gamers #icon_tree {  
	position: relative;
		left: -170px;
		visibility:hidden;
	}
	#stream_ad_1 {
		position:absolute;
		top: 0px;
		left: -159px;
	}
	#stream_ad_2 {
		position:absolute;
		top: 126px;
		left: -159px;
	}
	#stream_ad_3 {
		position:absolute;
		top: 252px;
		left: -159px;
	}
	#stream_ad_4 {
		position:absolute;
		top: 0px;
		right: -159px;
	}
	#stream_ad_5 {
		position:absolute;
		top: 126px;
		right: -159px;
	}
	#stream_ad_6 {
		position:absolute;
		top: 252px;
		right: -159px;
	}
	.offline {
		opacity: .6;
		transition: all 1s;
		-webkit-transition: all 1s;
	}
	.offline:hover {
		opacity: 1;
		transition: all 1s;
		-webkit-transition: all 1s;
	}

	#page_title {
	  color: #007c02;
	  font-size: 42px;
	  text-indent: 10px;
	  text-align: center;
	  width: 100%;
	  font-weight: bold;
	}
	#webform_1_form .std{
		display: none;
	}

.cms-sponsored-gamers iframe {
	width: 100%;
	height: 378px;
}
#display_stream {
  	max-width: 50%;
  	width: 100%;
}
@media screen and (max-width:1000px){
	#stream_ad_4, #stream_ad_5, #stream_ad_6 {
		display: none !important;
	}
	#display_stream_container {
		text-align: right;
	}
	#display_stream {
	  	max-width: 600px;
	  	width: 100%;
	}
}
@media screen and (max-width:720px){
	#stream_ad_1, #stream_ad_2, #stream_ad_3 {
		display: none !important;
	}
	#display_stream_container {
		text-align: center;
	}
	#display_stream {
	  	max-width: 95%;
	  	width: 100%;
	}
	#page_title {
  		font-size: 32px;
	}
	#sponsored_gamers {
  		position:relative;
  		margin-top: 40px;
	}
	#sponsored_gamers li {
  		width: 24%;
	}
	.cms-sponsored-gamers #icon_tree {
		display:none;
	}
}
@media screen and (max-width:480px){
	#sponsored_gamers li img.offline {
  		display: none;
	}
	#display_stream_container {
	    margin-top: 160px;
	}
	#display_stream {
		top: 0px;
	}
	.cms-sponsored-gamers frame {
	  height: 178px;
	}
	#sponsored_gamers {
	  text-align:center;
  	  margin-top: 0px;
  	  bottom: -20px;
	}
	#sponsored_gamers li {
	  padding: 0px 10px;
  	  width: auto;
	}
}

@media screen and (min-width:481px){
	#page_title {
	  position: absolute;
	  top: 70px;
	}
	#sponsored_gamers li:after {
	  content: url('http://greenbuyback.com/skin/frontend/default/gbb/images/avatar_shadow.png');
	  display: block;
	  position: absolute;
	  bottom: 27px;
	  left: -50px;
	}
}
/* END Sponsors gamers */

/* Main Menu edits */
.jm-megamenu ul.level0 li.mega a.mega {
	padding: 0px 10px 0px 19px!important;
	}



