<?php
	/*Create id main*/
	$divid = 'jm-slwi-'.rand().rand().time();
?>
<?php if(!defined('JM_ADD_JQUERY')){?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsspotlight/js/jquery.js') ?>"></script>
<?php  define('JM_ADD_JQUERY', true); ?>                        
<?php }?>
<?php if(!defined('JM_ADD_HOVERJQUERY')){?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsspotlight/js/jquery.hoverIntent.js') ?>"></script>
<?php  define('JM_ADD_HOVERJQUERY', true); ?>
<?php }?>
<?php if(!defined('JM_ADD_SKIN_PRODUCTS_SLWI')){?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('joomlart/jmproductsspotlight/js/jm.productsspotlight.js') ?>"></script>
<?php  define('JM_ADD_SKIN_PRODUCTS_SLWI', true); ?>
<?php }?>

<script type="text/javascript">
	jQuery.noConflict();
	  jQuery(document).ready(function($){
	    $("#<?php echo $divid?>").Slwi({			
			height: 			<?php echo $config['height']?>,
			transparent:		<?php echo $config['transparent']?>,				
			expandheight: 		<?php echo $config['expandheight']?>,
			collapseheight: 	<?php echo $config['collapseheight']?>,
			iwidth: 		    <?php echo $config['iwidth']?>,
			iheight: 		    <?php echo $config['iheight']?>,
			textcolor: 			'#<?php echo $config['textcolor']; ?>',
			bgcolor: 			'#<?php echo $config['bgcolor']; ?>'
		});
	  });
	
</script>
<?php
	if ($config['height'] > 0 ) {
?>
<div class="block jm-productspotlight">	
		<?php if($config['title']){?><div class="block-title"><strong><span><?php echo $config['title']; ?></span></strong></div><?php }; ?>	
		<div class="block-content">
		<div class="jm-product-slwi" id='<?php echo $divid?>'>
			<?php $_collectionSize = $listall?$listall->count():0 ?>
			<?php $i = 0;
				$width = 100;
				if ($config['perrow']) $width = 99/$config['perrow'];
				
			?>							
			<?php if($_collectionSize){?>
				<?php foreach ($listall->getItems() as $_product){ ?>

						<?php if($i++%$config['perrow']==0): ?>
				        <ul style= 'height:<?php echo $config['height']; ?>px'>
				        <?php endif; ?>
						<li class="item <?php if($i%$config['perrow']==1) { echo " first"; } elseif($i%$config['perrow']==0 || $i==$_collectionSize) { echo " last"; } else { echo " center";}?> " id='slwi<?php echo $_product->getId()?>' style='height:<?php echo $config['iheight']; ?>px;width:<?php echo $width ?>%;'>						
								
							<div class='jm_product_item' style = 'background-image: url(<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($config['iwidth'], $config['iheight'])->setWatermarkSize('30x10'); ?>);width:<?php echo $config['iwidth']; ?>px;height:<?php echo $config['iheight']; ?>px;'>			
								<div class='jm_item_desc' style='height:<?php echo $config['collapseheight']; ?>px;'>											
									<a style="color:#<?php echo $config['textcolor'];?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">	
										<span><?php echo $_product->getName() ?></span>
									</a>
									<div class="jm-slider-desc">
										<?php echo substr($_product->getShortDescription(),0, 150);?>
									</div> 																	
								 </div>	
							</div>									
							
						</li>	
						
						<?php if($i%$config['perrow']==0 || $i==$_collectionSize): ?>
				        </ul>
				        <?php endif; ?>	 													
                <?php }?>				
			<?php } else {?>
				<div class='jm_noproduct'> The product list is empty </div>
			<?php } ?>				
</div></div>
</div>
<?php
}
?>