<?php
$upslabel = new Infomodus_Upslabelinv_Block_Adminhtml_Upslabelinv_Label_Tabs();
echo '<br />
                                            <br />
                                            Click on link to reprint your UPS Shipping Labels : <a href="' . Mage::app()->getStore()->getUrl() . 'upslabelinv/label/view/order_id/' . $this->getData('order')->getId() . '">' . Mage::app()->getStore()->getUrl() . 'upslabelinv/label/view/order_id/' . $this->getData('order')->getId() . '</a>';
?>